{% extends 'index.html' %}

{% block body %}

<form action="/" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">

        <div class="col-md-4">


            <select id="select_level" class="form-control" name="source" onchange="selectedOption(this.value)">
                <option>Select Source type</option>
                {% for k, v in source_type.items %}
                <option value="{{k}}">{{v}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <input id="uploadBox" type="file" name="uploaded_file" class="form-control"
                onchange="return fileValidation()">
        </div>
        <div class="col-md-4">
            <input id="sub" type="submit" class="form-control" value="Process Data"></div>

    </div>
    <br>
    <br>
    <div>
        <table style="width:100%">
            <tr>
                <th>File Name</th>
                <th>File Type</th>
                <th>Source Data</th>
                <th>Summary Data</th>
                <th>Send Email</th>
            </tr>
            {% for k in data %}
            <tr>
                <td style="width: 20%;" id="uploaded_{{k.id}}"  data="{{ k.file_name }}"> {{ k.file_name }} </td>
                <th style="width: 10%;">{{ k.get_source_display }}</th>
                {% if k.source_data %}
                    <td style="width: 25%;" data="{{ k.source_data }}" class="td_data" id="source_{{k.id}}"> {{ k.source_data|truncatechars:100 }} </td>
                {% else %}
                    <td style="width: 25%;" data="{{ k.source_data }}" class="td_data" id="source_{{k.id}}"> - </td>
                {% endif %}
                {% if k.summerized_data %}
                    <td style="width: 25%;" data="{{ k.summerized_data }}" class="summery_data" id="summery_{{k.id}}"> {{ k.summerized_data|truncatechars:100 }} </td>
                {% else %}
                    <td style="width: 25%;" data="{{ k.summerized_data }}" class="summery_data" id="summery_{{k.id}}"> - </td>
                {% endif %}
                <th style="width: 10%;"><button class="send_email" data={{k.id}} id="email_{{k.id}}"><i class="material-icons" style="font-size:36px">email</i></button></th>
            </tr>
            {% endfor%}

        </table>


    </div>
    <div class="modal" tabindex="-1" role="dialog" id="id_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="idModalHeader"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="IdmodalBody">
              
            </div>
         
          </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="id_email_model">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="idModalHeader">Send Email</h5>
            </div>
            <div class="modal-body" id="IdmodalBody">
                <input type="text" name="file_name" id="id_file_name" hidden>
              <input type="email" class="form-control" placeholder="Enter Email" id="id_email_reciver">
              <br>
              <textarea name="text_area" class="form-control" name="email_body" id="id_email_body"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submit_email()">Send Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
              </div>
          </div>
        </div>
    </div>


     

    <script>
        var option = "None selected";

        function selectedOption() {

            var conceptName = $('#select_level').find(":selected").text();
            option = $('#select_level').find(":selected").text();


        }
        function email_send(){
        $('#id_email_model').modal('show');
        // console.log(id)
        // return false

    }

        function fileValidation() {
            var fileInput = document.getElementById("uploadBox");
            var allowedExtensions =
                /(\.mp3|\.mp4)$/i;
            var filePath = fileInput.value;
            // Allowing file type

            if (option == "Video File")
                var allowedExtensions =
                    /(\.mp3|\.mp4)$/i;

            else if (option == "Audio File")
                var allowedExtensions =
                    /(\.mp3|\.wav)$/i;

            else if (option == "Text File")
                var allowedExtensions =
                    /(\.txt)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
                
            } 
            
        }

        var submit = document.getElementById("sub");
        submit.onclick = function () {
            if (document.getElementById("uploadBox").value == "")
                alert('No file selected');
                return false;

        }

        $(".td_data").click(function() {
            id = $(this).attr('id');
            console.log("id", id)
            data = $("#"+id).attr('data')
            $('#id_modal').modal('show'); 
            $('#IdmodalBody').empty()
            $('#IdmodalBody').append(data)
            $('#idModalHeader').empty()
            $('#idModalHeader').append("Source Data")

  });

  $(".summery_data").click(function() {
            id = $(this).attr('id');
            console.log("id", id)
            data = $("#"+id).attr('data')
            $('#id_modal').modal('show'); 
            $('#IdmodalBody').empty()
            $('#IdmodalBody').append(data)
            $('#idModalHeader').empty()
            $('#idModalHeader').append("Summary Data")

  });

   $(".send_email").click(function() {
        $('#id_email_reciver').val("")
        id = $(this).attr('id');
        $('#id_email_model').modal('show');
        data = $("#"+id).attr('data')
        text_data = $('#summery_'+data).attr('data')
        $('#id_email_body').val(text_data)
        file_name = $('#uploaded_'+data).attr('data')
        $('#id_file_name').val(file_name)
        return false

   })
   const getCookie = (cname) => {
        let name = cname + "=";
        let ca = document.cookie.split(";");
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == " ") {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return;
        }
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(re.test(email)){
            //Email valid. Procees to test if it's from the right domain (Second argument is to check that the string ENDS with this domain, and that it doesn't just contain it)
            if(email.indexOf("@cisco.com", email.length - "@cisco.com".length) !== -1){
            //VALID
            
            return true;

            }
            
            }
            return false;
        }

   function submit_email(){
        let email_receiver = $('#id_email_reciver').val()
        email = validateEmail(email_receiver)
        console.log(email)
        let email_body = $('#id_email_body').val()
       let file_name = $('#id_file_name').val()
       if (email === true) {

      
       $.ajax({
                url: '/email/',
                type: 'POST',
                headers: {
            "X-CSRFToken": getCookie("csrftoken")
            },
                data: ({"email_body": email_body, "email_receiver": email_receiver, "file_name": file_name}),
                success: function (data) {
                    $('#id_email_model').modal('hide');
                 }
                })
       }
       else{
        $('#id_email_model').modal('hide');

        alert("Invalid Email")
       }
   }
    </script>


</form>

{% endblock %}